<div
  *ngIf="(step$ | async) === 0"
  class="flex flex-col items-center gap-y-4 p-6 mat-elevation-z10 rounded-xl w-full max-w-md">
  <span class="text-2xl font-medium">Login</span>
  <span>So far it is only possible to log in with extension</span>
  <button (click)="start()" mat-flat-button color="accent">Enter with extension</button>
</div>
<div
  *ngIf="(step$ | async) === 1"
  class="flex flex-col items-center gap-y-4 p-6 mat-elevation-z10 rounded-xl w-full max-w-md">
  <span class="text-2xl font-medium">Tell us about you</span>
  <span>Let the world know who you are</span>
  <div class="flex flex-col w-full">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="John Doe" [formControl]="form.controls.name" required />
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Enter your description</mat-label>
      <textarea [formControl]="form.controls.description" matInput placeholder="What a beatiful day"></textarea>
    </mat-form-field>
    <button class="self-end" (click)="nameDescription()" mat-flat-button color="accent">Next</button>
  </div>
</div>
<div
  *ngIf="(step$ | async) === 2"
  class="flex flex-col items-center gap-y-4 p-6 mat-elevation-z10 rounded-xl w-full max-w-md">
  <span class="text-2xl font-medium">Any pics? 📸</span>
  <span>It's time show yourself, if you want to...</span>
  <div class="flex flex-col w-full">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Enter your profile picture url</mat-label>
      <input matInput placeholder="example.com/file.png" [formControl]="form.controls.avatar" required />
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Enter your banner url</mat-label>
      <input matInput placeholder="example.com/banner.png" [formControl]="form.controls.cover" required />
    </mat-form-field>
    <button class="self-end" (click)="sendPhotos()" mat-flat-button color="accent">Next</button>
  </div>
</div>
<div
  *ngIf="(step$ | async) === 3"
  class="flex flex-col items-center gap-y-4 p-6 mat-elevation-z10 rounded-xl w-full max-w-md">
  <span class="text-2xl font-medium">What do you want to see?</span>
  <span>Help us to find content that you interest</span>
  <div class="w-full flex flex-col">
    <mat-form-field class="example-chip-list" appearance="outline">
      <mat-label>Favorite topics</mat-label>
      <mat-chip-grid #chipGrid aria-label="Topic selection">
        <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
          {{ fruit }}
          <button matChipRemove [attr.aria-label]="'remove ' + fruit">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input
        placeholder="Rockets, wine, cats..."
        #fruitInput
        [formControl]="fruitCtrl"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
          {{ fruit }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="self-end" (click)="finish()" mat-flat-button color="accent">Finish</button>
  </div>
</div>
